.order__section{
  background: url('images/leaf3.png') right 1% bottom 10% no-repeat, 
  url('images/berry.png') left 5% bottom 8% no-repeat,
  url('images/order_back.png')center center/cover no-repeat 
  ;

  @include tablets{
    background: url('images/order_back.png')center center no-repeat;
  }

  position: relative;
  &:after{
    content: "";
    display: block;
    position: absolute;
    background: url('images/player-decor3.png') center center/contain no-repeat;
    width: rem(196px);
    height: rem(264px);
    right: 0;
    top: -12%;

    @include tablets-min{
      width: rem(109px);
      height: rem(147px);
      top: -9%;
    }
  }
}

.order__section-title{
  color: #365A49 !important;
  margin-bottom: rem(57px) !important;
}

